body{
    font-family: 'Roboto', sans-serif;
}
.home-wrapper {
    background: url('../images/background.jpg') no-repeat center top;
    background-size: cover;
    color: white; 
}
header{
    padding: 10px 0;
}
header img{
    width: 200px;
}
header nav{
    float: right;
    margin-top: 10px;
}
header nav a{
    color: white;
    font-weight: bold;
    text-decoration: none;
    margin-left: 10px;
    padding: 10px 15px;
}
header nav a.active{
    background: #fed136;
    border-radius: 3px;
}
#home{
    text-align: center;
    padding: 200px 0 150px;
}
#home h1{
    font-size: 68px;
    font-weight: normal;
}
#home p{
    font-size: 24px;
}
#home .social{
    margin-top: 80px;
}
#home .social a{
    color: white;
    display: inline-block;
    border-radius: 50%;
    background-color: black;
    font-size: 24px;
    font-weight: bold;
    height: 50px;
    width: 50px;
    line-height: 50px;
    margin-right: 10px;
    transition: all .3s ease;
}
#home .social a:hover{
    background-color: #fed136;
}
.container{
    width: 992px;
    margin-left: auto;
    margin-right: auto;
}
